PORT=3000
NODE_ENV=development

# Base URLs de los servicios de tarjetas
VISA_SERVICE_URL=http://localhost:3001
MASTERCARD_SERVICE_URL=http://localhost:3002

# App de boletas
BOLETAS_SERVICE_URL=http://localhost:4000

# Base de datos SQLite
DB_PATH=./payment_gateway.db

# Prefijos de tarjetas (separados por coma)
VISA_PREFIXES=4
MASTERCARD_PREFIXES=5
